// Just a few utility classes to make things easier

.block {
    display: block;
}

.flex {
    display: flex;
}

.border {
    border-width: 1px;
}

.rounded {
    border-radius: 5px;
}

.w-full {
    width: 100%;
}

.relative {
    position: relative;
}